name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1

      - name: Debug Sonar Env
        run: |
          echo "SONAR_HOST_URL=$SONAR_HOST_URL"
          echo "SONAR_TOKEN=${SONAR_TOKEN:0:4}****"

      - name: Install deps
        run: bun install

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v2
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}